[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fgsea"]
	path = fgsea
	url = https://github.com/ctlab/fgsea
	registered = false
[submodule "goat"]
	path = goat
	url = https://github.com/ftwkoopmans/goat
